.calcKeys{
    width: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
}

.key{
    width: 100%;
}

button{
    width: 50px;
    /* min-width: 50px;
    max-width: 100px; */
    box-shadow: 0.3px 0.6px 0.6px black;
    border-radius: 3px;
}