

.logo{
  scale: 2;
  margin-right: 10px;
}
.main-container{
  display: flex;
  flex-direction: column;
}

.sidebarContent{
  display: flex; 
  width: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.sidebar{
  min-height: 400px;
  width: 250px !important;
  color: white !important; 
}

.inputField{
  margin: 10px;
}
label{
  font-weight: 500;
}

.headerformat{
  background-color: darg;
  color: white;
}

.sideBarContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin-left: 10px;
  background-color: grey;
  min-height: 400px;
}