.card{
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
    background-color: lightgoldenrodyellow;
    box-shadow: 1px 2px 5px 1px ;
    margin: 10px;
    display: inline-block;
}